@import '/src/styles/variables';

.btn {
  display: block;
  background-color: $primary-color;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 0.2rem 2.6rem;
  margin: 1rem auto;
  cursor: pointer;
}

.btn:hover {
  background-color: $primary-color-active;
}